@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
    font-family: "Inter",sans-serif;
    font-weight: normal;
    font-size: medium;
}
.noto-serif{
    font-family: "Noto Serif", sans-serif;
}
body{
    max-width: 1140px;
    margin: 0 auto;
    background: rgb(245, 248, 255);
}
.navbar{
    margin: 30px auto 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul{
    list-style: none;
    display: flex;
    gap: 48px;
}
.nav-links ul a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(137, 135, 161);
font-size: 1rem;
font-weight: 400;
}
#home{
    color: rgb(37, 36, 50);
font-size: 1rem;
font-weight: 700;
}
#cart{
    color: rgb(0, 0, 0);
font-size: 1rem;
font-weight: 400;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.banner-title{
    font-size: 4rem;
font-weight: 700;
color: #E95A08;
margin-bottom: 13px;
}
.banner-title span{
    color: black;
}
.banner-des{
    color: rgba(0, 0, 0, 0.5);
font-size: 1.3rem;
font-weight: 400;
}
.banner-img{
    border: 1px dashed rgba(0, 0, 0, 0.2);
}
.plants{
    margin-top: 120px;
}
.plants-content{
    text-align: center;
    
    margin-bottom: 49px;
}
.plants-title{
font-size: 50px;
font-weight: 700;
}
.plants-title span{
    color: #E95A08;
}
.plants-des{
    color: rgba(0, 0, 0, 0.5);
font-size: 22px;
font-weight: 400;
}
.plants-img-collection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}
.plant-container{
    text-align: center;
}
.plant-container button{
    width: 100%;
}
.plant-name{
    margin-top: 30px;
    color: rgb(17, 17, 17);
font-size: 22px;
font-weight: 500;
}
.plant-price{
    margin-top: 20px;
    color: rgb(17, 17, 17);
font-size: 22px;
font-weight: 700;
}
.add-to-cart{
    background: #E95A08;
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
width: 270px;
height: 50px;
border: none;
cursor: pointer;


}
.add-to-cart:hover{
    background: rgb(255, 255, 255);
    color: #E95A08;
    border: 1px solid #E95A08;
    transition: 0.3s ease-in-out;
}
.alert-message {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 25px;
    z-index: 1000;
}
.add-to-cart:active + .alert-message {
    display: block;
    
}
.plants-lover{
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
    margin-top: 210px;
}
.plants-lover-title{
    color: rgb(0, 0, 0);
font-size: 50px;
font-weight: 700;
margin-bottom: 20px;
}
.plants-lover-des{
    color: rgba(0, 0, 0, 0.5);
font-size: 22px;
font-weight: 400;
margin-bottom: 20px;
}

.lover{
    position: relative;
    
}
.badge-image{
    width: 286px;
height: 286px;
}
.badge{
    
    position: absolute;
    left: 347px;
    top: -127px;
    animation:0.3s ease-in  infinite  rot ;
}

@keyframes rot{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}
.latest-deal{
    margin-top: 130px;
    text-align: center;
}
.latest-deal-title{
font-size: 50px;
font-weight: 700;
}
.latest-deal-title span{
    color: #E95A08;
}
.latest-deal-des{
    color: rgba(0, 0, 0, 0.5);
font-size: 22px;
font-weight: 400;
margin-top: 16px;
margin-bottom: 120px;
text-align: center;
}
.latest-deal-image{
    position: relative;
    text-align: center;
     display: inline-block;
     overflow: hidden;
     border-radius: 15px;
    
}
.latest-deal-image img {
    border-radius: 15px;
    display: block;
    width: 100%;
    height: auto;
}

.latest-deal-image::before {
    content: '';
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 15px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.latest-deal-img-title{
    color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 700;
margin: 0;
padding: 0;

}
.shop{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
}
.latest-deal-img-container{
    height: 423px;
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}
.deal2{
    grid-column: 2;
    grid-row: 1 / span 2;
}
.join{
    background-image: url("../assets/news-letter-bg.png");
    
    overflow: hidden;
    background-size: cover;
    margin-top: 120px;
    position: relative;
  left: calc(-50vw + 50%);
  width: 99.52vw;
  height: 533px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-content{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-title{
    color: rgb(255, 255, 255);
font-size: 50px;
font-weight: 700;
margin-bottom: 23px;

}
.email{
    color: rgba(0, 0, 0, 0.5);
font-size: 16px;
font-weight: 400;
width: 644px;
height: 50px;
border: none;
padding-left: 20px;
}
.submit{
    border: none;
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
background: rgb(233, 90, 8);
width: 186px;
height: 50px;
}

.footer{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.footer1 img{
    width: 135px;
height: 82px;
}
.footer-des{
    color: rgba(0, 0, 0, 0.5);
font-size: 22px;
font-weight: 400;
}
.footer li{
    list-style: none;
    margin-bottom: 32px;
}
.footer a{
   color: rgb(107, 114, 128);
font-size: 16px;
font-weight: 400;
text-decoration: none;

}
.footer4{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 30px;
}
#x{
    margin-top: 10px;
}

@media screen and (max-width: 576px){
    
    .navbar{
        max-width: 361px;
        justify-content: space-between;
        margin: 67px auto 28px;
    }
    .nav-links ul li a{
        display: none;
    }
    .nav-links ul li a#cart{
        display: flex;
    }
    .logo img{
        max-width: 63px;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 28px;
        align-items: center;
    }
    .banner-content{
        margin: auto 16px;
    }
    .banner-title{
        font-size: 24px;
    }
    .banner-des{
        font-size: 14px;
    }
    .banner-img{
        width: 100%;
    }
    .plants,.plants-img{
        max-width: 100%;
    }
    .plants-img-collection{
        grid-template-columns: repeat(2,1fr);
        padding: 14px ;
    }
    .plants-content{
        margin: auto 28.5px;

    }
    .plants-lover{
        margin-top: 50px;
        flex-direction: column;
        padding:  18px;
    }
    .plants-lover img{
        width: 100%;
        height: auto;
    }
    .plants-lover-content{
        padding: 30px;
    }
    .badge{
        display: none;
    }
    .latest-deal-img-container{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .deal2{
        order: 3;
    }
    .latest-deal-des{
        padding: 30px;
        margin-bottom: 20px;
    }
    .join{
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 0;
    }
    .join-title{
        font-size: 20px;
    }
    .email{
        width: 218px;
height: 50px;
font-size: 16px;
    }
    .submit{
        width: 103px;
height: 50px;
font-size: 16px;
    }
    .footer{
        flex-direction: column;
        margin-left: 20px;
        margin-bottom: 50px;
        gap: 16px;
    }
    .footer4{
        display: flex;
    }
    .footer1 img{
        width: 180px;
height: 109px;
    }
}


